@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');

h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif;
}

p {
  font-family: 'Roboto', sans-serif;
}

code {
  font-family: 'Fira Code', monospace;
}

body {
  font-size: 16px; !important
  color: #222322; !default
}

pre code {
  font-size: 15px; !important
}