.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rapp.history
docs/
.DS_Store
cache/
projects/dingo/data/
projects/literature-tracking/data
comms/2023-08-11_national-science-week/large-data/
projects/sdm-workflows/data/
projects/snail-counts/data/

# data
data/

.Renviron