.mapdiv {
  border: 2px solid #cccccc;
  border-radius: 0px;
  height: 95vh;
  margin: 30px 10px 10px 10px;
}

.textdiv {
  border: 0px solid #ffffff;
  height: 75vh;
  margin: 30px 10px 10px 10px;
}

.profile {
  width: 100px;
  border: 2px solid #cccccc;
  border-radius: 50px;
  line-height: 100px;
  margin: 10px;
}

.clear_circle {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: #cccccc;
  margin: 10px;
  line-height: 100px;
  text-align: center;
}